{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %} <title>Sign Up</title>{% endblock title%}


</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>

                {% if user.is_authenticated %}
                Hello, {{user.username}}
                <a href={% url 'logout' %}>Logout</a>
                </li>
                {% else %}
                <li>
                    <a href={% url 'signup' %}>Sign Up</a>
                </li>

                <li><a href={% url 'login' %}>Log in</a></li>

                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    <main>
        <div>
            <h1>
                Login
            </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
    {% endblock content %}
</body>

</html>