{% extends 'base.html' %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Number
            </th>
            <th>
                Number of receipts
            </th>
            {% for a in account %}
        </tr>
        <tr>
            <td>
                {{a.name}}
            </td>
            <td>
                {{a.number}}
            </td>
            <td>
                {{lists.receipts|length}}
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href={% url 'create_account' %}>Create Account</a>
</main>
{% endblock content%}