{% extends 'base.html' %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Number of receipts
            </th>
        </tr>
        {% for expense in expenses %}

        <tr>
            <td>
                {{expense.name}}
            </td>
            <td>
                {{expense.receipts|length}}
            </td>

        </tr>
        {% endfor %}
    </table>
    <a href={% url 'create_category' %}>Create Category</a>
</main>
{% endblock content%}